@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=M+PLUS+Code+Latin:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  background-color: #f1f5f9;
  color: #0f172a;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
h2 {
  color: #334155;
}

* {
  /*outline: 1px solid red;*/
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
div {
  transition: opacity 2s ease;
}
.shadow {
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.test {
  background-color: red;
  width: 100%;
  height: 100%;
}
.outline * {
  outline: 1px solid blue;
}
h1 {
  font-size: 2.5rem;
}
.centerflex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inherit {
  width: 100%;
  height: 100%;
}
hr {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3); /* Optional: Customize the appearance */
  margin: 10px 0; /* Optional: Add some spacing */
}
button {
  margin: 5px;
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: #f1f5f9;

  transition:
    background-color 1s ease,
    box-shadow 0.5s ease;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background-color: #e2e8f0;
}
button:active {
  background-color: #64748b;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

body {
  overscroll-behavior: none; /* Prevents overscroll in all directions */
  height: 100vh;
}
#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

@media screen {
}
p {
  font-size: 1.4rem;
  text-align: center;
}
input::placeholder {
  color: lightgreen;
  font-size: 1.5rem;
  padding-left: 5px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  button {
    width: 80%;
    border-radius: 0;
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  a {
    font-size: 1.2rem;
  }
  #root {
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    overflow-x: hidden;
    object-fit: cover;
  }
}
.vibrate-1 {
  -webkit-animation: vibrate-1 3s ease-in-out infinite reverse both;
  animation: vibrate-1 3s ease-in-out infinite reverse both;
} /* ----------------------------------------------
 * Generated by Animista on 2024-10-4 23:24:31
/* ----------------------------------------------
 * Generated by Animista on 2024-10-4 23:30:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
